In [1]:
import pandas as pd
from darts import TimeSeries
from darts.dataprocessing.transformers import Scaler

train = pd.read_csv('data/train.csv') 

train['id'] = train['Store'].astype(str)+'-'+train['Dept'].astype(str)

series = train.groupby('id').agg({'Date':'max'}).reset_index() series = series[series['Date'] == max(train['Date'])]['id'].tolist()

df = train[train['id'].isin(series)]

# train.to_csv('data/train_filtered.csv', index=False)

df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
df['IsHoliday'] = df['IsHoliday'].astype('bool')

df.set_index('Date', inplace=True)
df

            Store  Dept  Weekly_Sales  IsHoliday
Date
2010-02-05      1     1      24924.50      False
2010-02-12      1     1      46039.49       True
2010-02-19      1     1      41595.55      False
2010-02-26      1     1      19403.54      False
2010-03-05      1     1      21827.90      False
...           ...   ...           ...        ...
2012-09-28     45    98        508.37      False
2012-10-05     45    98        628.10      False
2012-10-12     45    98       1061.02      False
2012-10-19     45    98        760.01      False
2012-10-26     45    98       1076.80      False

[421570 rows x 4 columns]

In [2]:
#df.loc[0, 'Date'].day_name()

In [3]:
#df.drop(columns=["Store", "Dept"], inplace=True)

In [4]:
# df.drop_duplicates(subset='Date', inplace=True)
# df.set_index('Date', inplace=True)

In [5]:
series = TimeSeries.from_group_dataframe(df=df,
                                         group_cols=["Store", "Dept","IsHoliday"],
                                         value_cols="Weekly_Sales",
                                         freq="W-FRI", fill_missing_dates=True,
                                         fillna_value=0)