In [4]:
from darts.dataprocessing.transformers import StaticCovariatesTransformer, MissingValuesFiller
from darts.utils.timeseries_generation import datetime_attribute_timeseries
from darts.utils.likelihood_models import QuantileRegression
from darts.dataprocessing.transformers import Scaler
from darts.dataprocessing.pipeline import Pipeline
from chronos import ChronosPipeline
from darts.models import TiDEModel
from darts import TimeSeries
import pandas as pd
import numpy as np
import torch
import utils

TIME_COL = "Date"

In [5]:
residuals = pd.read_csv('data/residuals.csv')
residuals[TIME_COL] = pd.to_datetime(residuals[TIME_COL])

In [6]:
residuals[['Store', 'Dept']] = residuals['unique_id'].str.split('-', expand=True).astype(int)

In [7]:
residuals

,unique_id,Date,residuals,IsHoliday,Type,Size,Temperature,Fuel_Price,CPI,Unemployment,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,Store,Dept
0,1-10,2011-06-17,-426.350937,0,A,medium,86.41,3.637,214.998060,7.682,0.00,0.00,0.00,0.00,0.00,1,10
1,1-10,2011-06-24,-734.566445,0,A,medium,83.58,3.594,215.091098,7.682,0.00,0.00,0.00,0.00,0.00,1,10
2,1-10,2011-07-01,-294.060703,0,A,medium,85.55,3.524,215.184137,7.962,0.00,0.00,0.00,0.00,0.00,1,10
3,1-10,2011-07-08,-87.494687,0,A,medium,85.83,3.480,215.277175,7.962,0.00,0.00,0.00,0.00,0.00,1,10
4,1-10,2011-07-15,-1674.003125,0,A,medium,88.54,3.575,215.361109,7.962,0.00,0.00,0.00,0.00,0.00,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35495,9-95,2012-09-21,-1893.451406,0,B,medium,69.92,3.721,226.559914,5.277,1887.95,1.91,0.00,273.53,4626.19,9,95
35496,9-95,2012-09-28,-1874.555781,0,B,medium,76.80,3.666,226.763073,5.277,1699.68,1.91,0.55,190.38,1819.15,9,95
35497,9-95,2012-10-05,1876.937344,0,B,medium,66.61,3.617,226.966232,4.954,2657.57,0.00,3.01,1107.79,1560.55,9,95
35498,9-95,2012-10-12,-177.991016,0,B,medium,60.09,3.601,227.169392,4.954,520.41,0.00,6.01,0.00,2839.84,9,95
35499,9-95,2012-10-19,1745.543203,0,B,medium,68.01,3.594,227.214288,4.954,545.72,0.00,8.00,28.94,3098.87,9,95