In [24]:
import pandas as pd
import numpy as np

# Define the timeline
YEARS = 3
quarters_per_year = 4
total_quarters = YEARS * quarters_per_year
quarterly_dates = pd.date_range(start="2021-01-01", periods=total_quarters, freq='Q')

# Simulate batch data
np.random.seed(42)  # for reproducibility
batches_produced = np.random.normal(loc=110, scale=10, size=len(quarterly_dates)).astype(int)

# Different rejection rates before and after the quality control implementation
rejection_rate_pre = 0.15  # 15% rejection before
rejection_rate_post = 0.05  # 5% rejection after

rejection_rates = np.array([rejection_rate_pre]*quarters_per_year + [rejection_rate_post]*quarters_per_year +
                           [rejection_rate_pre]*quarters_per_year)
batches_rejected = (batches_produced * rejection_rates).astype(int)

# Costs and revenues
cost_per_batch = 500  # Cost per batch
cost_of_production = batches_produced * cost_per_batch
cost_of_rejected_batches = batches_rejected * cost_per_batch
net_production_cost = cost_of_production - cost_of_rejected_batches

# Revenue from batches
revenue_per_batch = 800
revenue = (batches_produced - batches_rejected) * revenue_per_batch
net_revenue = revenue - cost_of_rejected_batches

# Create DataFrame
quality_control_data = pd.DataFrame({
    "Quarter and Year": "Q"+ quarterly_dates.quarter.astype(str) + " " + quarterly_dates.year.astype(str),
    "Number of Batches Produced": batches_produced,
    "Number of Batches Rejected": batches_rejected,
    "Cost of Production": cost_of_production,
    "Cost of Rejected Batches": cost_of_rejected_batches,
    "Net Production Cost": net_production_cost,
    "Revenue": revenue,
    "Net Revenue": net_revenue
})

ValueError: operands could not be broadcast together with shapes (40,) (12,)

In [25]:
quality_control_data

,Quarter and Year,Number of Batches Produced,Number of Batches Rejected,Cost of Production,Cost of Rejected Batches,Net Production Cost,Revenue,Net Revenue
0,Q1 2021,114,17,57000,8500,48500,77600,69100
1,Q2 2021,108,16,54000,8000,46000,73600,65600
2,Q3 2021,116,17,58000,8500,49500,79200,70700
3,Q4 2021,125,18,62500,9000,53500,85600,76600
4,Q1 2022,107,5,53500,2500,51000,81600,79100
5,Q2 2022,107,5,53500,2500,51000,81600,79100
6,Q3 2022,125,6,62500,3000,59500,95200,92200
7,Q4 2022,117,5,58500,2500,56000,89600,87100
8,Q1 2023,105,15,52500,7500,45000,72000,64500
9,Q2 2023,115,17,57500,8500,49000,78400,69900
10,Q3 2023,105,15,52500,7500,45000,72000,64500
11,Q4 2023,105,15,52500,7500,45000,72000,64500